<div class={{this.className}} ...attributes>
  {{yield (hash
    item=(component "accordion-item"
      isCollapsible=true
      register=this.registerItem
      toggle=this.toggleItem
    )
  )}}
</div>