<h1 class="page-title">Accordion</h1>

{{#accordion-list classNames="my-accordion-list" as |accordion|}}
  {{#accordion.item expandOnInit=true as |item|}}
    {{#item.header}}Lorem ipsum{{/item.header}}
    {{#item.panel}}
      <h4>Lorem ipsum</h4>
      <p>Lorem <a href="#">ipsum</a> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item as |item|}}
    {{#item.header}}Dolor Sit{{/item.header}}
    {{#item.panel}}
      <h4>Dolor Sit</h4>
      <p>Lorem <a href="#">ipsum</a> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item isDisabled=true as |item|}}
    {{#item.header}}This is disabled{{/item.header}}
    {{#item.panel}}
      <p>Lorem <a href="#">ipsum</a> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item as |item|}}
    {{#item.header}}Amet{{/item.header}}
    {{#item.panel}}
      <h4>Amet</h4>
      <p>Lorem <a href="#">ipsum</a> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    {{/item.panel}}
  {{/accordion.item}}
{{/accordion-list}}

{{outlet}}
<p>&nbsp;<br><br></p>
