<ul class="nav">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'accordion'}}Accordion{{/link-to}}</li>
  <li>{{#link-to 'collapsible'}}Collapsible{{/link-to}}</li>
</ul>

<main>
  {{outlet}}
</main>
