<h2>Accordion</h2>
{{#accordion-list as |accordion|}}
  {{#accordion.item expandOnInit=true as |item|}}
    {{#item.header}}Personal Information{{/item.header}}
    {{#item.panel}}
      <p>Personal Information goes here.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item as |item|}}
    {{#item.header}}Billing Address{{/item.header}}
    {{#item.panel}}
      <p>Billing address information goes here.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item as |item|}}
    {{#item.header}}Shipping Address{{/item.header}}
    {{#item.panel}}
      <p>Shipping address information goes here.</p>
    {{/item.panel}}
  {{/accordion.item}}
{{/accordion-list}}

<br>

<h2>Collapsible</h2>
{{#accordion-list
  isCollapsible=true
  classNames='my-accordion' as |accordion|
}}
  {{#accordion.item as |item|}}
    {{#item.header}}Personal Information{{/item.header}}
    {{#item.panel}}
      <p>Personal Information goes here.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item expandOnInit=true as |item|}}
    {{#item.header}}Billing Address{{/item.header}}
    {{#item.panel}}
      <p>Billing address information goes here.</p>
    {{/item.panel}}
  {{/accordion.item}}

  {{#accordion.item as |item|}}
    {{#item.header}}Shipping Address{{/item.header}}
    {{#item.panel}}
      <p>Shipping address information goes here.</p>
    {{/item.panel}}
  {{/accordion.item}}
{{/accordion-list}}
